<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>this is my index page</h1>
    <p>Welcome to index</p>
  </body>
  <script src="javascripts/bundle-main.js"></script>
</html>
